<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Document</title>
	{% endblock %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/commentsAjax.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>

<body>
    <div class="container">

        {% block starting_div %}
            {% include 'mainapp/includes/inc_starting_div.html' %}
        {% endblock %}

        {% block main_menu %}
            {% include 'mainapp/includes/inc_main_menu.html' %}
        {% endblock %}

        {% block main_content %}

        {% endblock %}

        {% block footer %}
            {% include 'mainapp/includes/inc_footer.html' %}
        {% endblock %}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>