<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet"> </head>

<body>
    <div class="container">
        <div class="starting-div-wrapper">
            <div class="starting-div">
                <div class="logo"><a href="#"><span>Intergalactic</span> <img src="{% static 'img/intergalactic2.png' %}" alt=""></a></div>
                <div class="social-icons">
                    <a href="#"> <i class="fab fa-vk"></i> </a>
                    <a href="#"> <i class="fab fa-youtube"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                </div>
            </div>
        </div>
        <div class="nav-wrapper">
            {% block main_menu %}
                {% include 'mainapp/includes/inc_main_menu.html' %}
            {% endblock %}
        </div>
        {% block main_content %}

        {% endblock %}
        <div class="footer-wrapper">
            {% block footer %}
                {% include 'mainapp/includes/inc_footer.html' %}
            {% endblock %}
        </div>
    </div>
</body>

</html>