{% extends 'mainapp/base.html' %}

{% load static %}
{% load my_tags %}

{% block main_content %}
<div class="main-wrapper">
    <div class="main-wrapper-center">
        <p class="trending">Сейчас в тренде</p>
        <div class="main-tiles">
            <div class="main-tile-big"><img
                    src="{{ trendy_publications.0.image|media_folder_publications }}"
                    alt="">
                <div class="main-tile-big-text"><a href="{% url 'main:category' trendy_publications.0.category.pk %}" class="tile-category-link">{{trendy_publications.0.category.name}}</a>
                    <div class="main-tile-big-text-content">
                        <h2>{{trendy_publications.0.name}}</h2>
                        <div class="main-tile-big-text-info">
                            <h5>
                                {{trendy_publications.0.created}} &#8195
                                <span class="likes">{{trendy_publications.0.get_like_count}}</span>
                                <i class="fas fa-heart"></i>
                                <span class="comments">{{trendy_publications.0.get_comment_count}} </span>
                                <i class="fas fa-comments"></i>
                            </h5>
                        </div>
                    </div>
                    <a href="{% url 'main:publication_page' trendy_publications.0.pk  %}" class="tile-big-link"></a>
                </div>
            </div>
            <div class="main-tile-small">
                <div class="main-tile-small-wide"><img
                        src="{{ trendy_publications.1.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="{% url 'main:category' trendy_publications.1.category.pk %}" class="tile-category-link">{{trendy_publications.1.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publications.1.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <h5>
                                    {{trendy_publications.1.created}} &#8195
                                    <span class="likes">{{trendy_publications.1.get_like_count}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publications.1.get_comment_count}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a href="{% url 'main:publication_page' trendy_publications.1.pk  %}" class="tile-big-link"></a>
                    </div>
                </div>
                <div class="main-tile-small-narrow n1"><img
                        src="{{ trendy_publications.2.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="{% url 'main:category' trendy_publications.2.category.pk %}" class="tile-category-link">{{trendy_publications.2.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publications.2.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <h5>
                                    {{trendy_publications.2.created}} &#8195
                                    <span class="likes">{{trendy_publications.2.get_like_count}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publications.2.get_comment_count}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a href="{% url 'main:publication_page' trendy_publications.2.pk  %}" class="tile-big-link"></a>
                    </div>
                </div>
                <div class="main-tile-small-narrow n2"><img
                        src="{{ trendy_publications.3.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="{% url 'main:category' trendy_publications.3.category.pk %}" class="tile-category-link">{{trendy_publications.3.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publications.3.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <h5>
                                    {{trendy_publications.3.created}} &#8195
                                    <span class="likes">{{trendy_publications.3.get_like_count}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publications.3.get_comment_count}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a  href="{% url 'main:publication_page' trendy_publications.3.pk  %}" class="tile-big-link"></a>
                        <div id="sort-space"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div  class="main-navigation">
                <ul>
                    <li><a >Сортировать по:</a></li>
                    <li><a href="{% url 'main:main' %}?sort=date#sort-space" class="{% if request.GET.sort == 'date' %} active {% endif %}">Дате</a></li>
                    <li><a href="{% url 'main:main' %}?sort=like#sort-space" class="{% if request.GET.sort == 'like' %} active {% endif %}">Лайкам</a></li>
                    <li><a href="{% url 'main:main' %}?sort=comment#sort-space" class="{% if request.GET.sort == 'comment' %} active {% endif %}">Комментариям</a></li>
                </ul>
            </div>
            <div class="fast-blocks-container">
                <p>СЕЙЧАС ЧИТАЮТ</p>
                <div class="fast-blocks">
                    {% for publication in now_read_publications %}
                        {% include 'mainapp/includes/inc_now_read_blocks.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="main-last-blocks-container">
                <p>Последние статьи</p>
                    <div class="main-last-blocks">
                        {% for publ in publications %}
                            {% include 'mainapp/includes/inc_publications_in_list.html' %}
                        {% endfor %}
                   </div>
                <!-- <div class="delimiter">
                    <div class="del"></div>
                    <a href="#">Больше</a></div> -->
            </div>
            <!-- {% include 'mainapp/includes/inc_popular_blocks.html' %} -->
        </div>
        <div class="main-news">
            <p></p>
        </div>
    </div>
</div>


{% endblock %}
