{% extends 'mainapp/base.html' %}

{% load static %}
{% load my_tags %}

{% block main_content %}
<div class="main-wrapper">
    <div class="main-wrapper-center">
        <p class="trending">Сейчас в тренде</p>
        <div class="main-tiles">
            <div class="main-tile-big"><img
                    src="{{ trendy_publication_list_of_dict.0.publication.image|media_folder_publications }}"
                    alt="">
                <div class="main-tile-big-text"><a href="#" class="tile-category-link">{{trendy_publication_list_of_dict.0.publication.category.name}}</a>
                    <div class="main-tile-big-text-content">
                        <h2>{{trendy_publication_list_of_dict.0.publication.name}}</h2>
                        <div class="main-tile-big-text-info">
                            <p>{{trendy_publication_list_of_dict.0.publication.user.username}}</p>
                            <h5>
                                {{trendy_publication_list_of_dict.0.publication.created}} &#8195
                                <span class="likes">{{trendy_publication_list_of_dict.0.likes}}</span>
                                <i class="fas fa-heart"></i>
                                <span class="comments">{{trendy_publication_list_of_dict.0.comments}} </span>
                                <i class="fas fa-comments"></i>
                            </h5>
                        </div>
                    </div>
                    <a href="{% url 'main:publication_page' trendy_publication_list_of_dict.0.publication.pk  %}" class="tile-big-link"></a>
                </div>
            </div>
            <div class="main-tile-small">
                <div class="main-tile-small-wide"><img
                        src="{{ trendy_publication_list_of_dict.1.publication.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="#" class="tile-category-link">{{trendy_publication_list_of_dict.1.publication.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publication_list_of_dict.1.publication.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <p>{{trendy_publication_list_of_dict.1.publication.user.username}}</p>
                                <h5>
                                    {{trendy_publication_list_of_dict.1.publication.created}} &#8195
                                    <span class="likes">{{trendy_publication_list_of_dict.1.likes}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publication_list_of_dict.1.comments}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a href="{% url 'main:publication_page' trendy_publication_list_of_dict.1.publication.pk  %}" class="tile-big-link"></a>
                    </div>
                </div>
                <div class="main-tile-small-narrow n1"><img
                        src="{{ trendy_publication_list_of_dict.2.publication.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="#" class="tile-category-link">{{trendy_publication_list_of_dict.2.publication.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publication_list_of_dict.2.publication.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <p>{{trendy_publication_list_of_dict.2.publication.user.username}}</p>
                                <h5>
                                    {{trendy_publication_list_of_dict.2.publication.created}} &#8195
                                    <span class="likes">{{trendy_publication_list_of_dict.2.likes}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publication_list_of_dict.2.comments}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a href="{% url 'main:publication_page' trendy_publication_list_of_dict.2.publication.pk  %}" class="tile-big-link"></a>
                    </div>
                </div>
                <div class="main-tile-small-narrow n2"><img
                        src="{{ trendy_publication_list_of_dict.3.publication.image|media_folder_publications }}"
                        alt="">
                    <div class="main-tile-small-text"><a href="#" class="tile-category-link">{{trendy_publication_list_of_dict.3.publication.category.name}}</a>
                        <div class="main-tile-small-text-content">
                            <h2>{{trendy_publication_list_of_dict.3.publication.name}}</h2>
                            <div class="main-tile-small-text-info">
                                <p>{{trendy_publication_list_of_dict.3.publication.user.username}}</p>
                                <h5>
                                    {{trendy_publication_list_of_dict.3.publication.created}} &#8195
                                    <span class="likes">{{trendy_publication_list_of_dict.3.likes}}</span>
                                    <i class="fas fa-heart"></i>
                                    <span class="comments">{{trendy_publication_list_of_dict.3.comments}} </span>
                                    <i class="fas fa-comments"></i>
                                </h5>
                            </div>
                        </div>
                        <a href="{% url 'main:publication_page' trendy_publication_list_of_dict.3.publication.pk  %}" class="tile-big-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <!-- <div class="main-navigation">
                <ul>
                    <li><a href="#" class="active">Статьи</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Хабы</a></li>
                    <li><a href="#">Авторы</a></li>
                    <li><a href="#">Компании</a></li>
                </ul>
            </div> -->
            <div class="fast-blocks-container">
                <p>СЕЙЧАС ЧИТАЮТ</p>
                <div class="fast-blocks">
                    {% for publication_dict in now_read_publication_list_of_dict %}
                        {% include 'mainapp/includes/inc_now_read_blocks.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="main-last-blocks-container">
                <p>Последние статьи</p>
                    <div class="main-last-blocks">
                        {% for publ in publication_list_of_dict %}
                            {% include 'mainapp/includes/inc_publications_in_list.html' %}
                        {% endfor %}
                   </div>
                <!-- <div class="delimiter">
                    <div class="del"></div>
                    <a href="#">Больше</a></div> -->
            </div>
            <!-- {% include 'mainapp/includes/inc_popular_blocks.html' %} -->
        </div>
        <div class="main-news">
            <p></p>
        </div>
    </div>
</div>


{% endblock %}
