{% extends 'mainapp/base.html' %}

{% load static %}
{% load my_tags %}

{% block main_content %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.css' %}">
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/bootstrap.js' %}"></script>
    {% endblock %}

    {% include 'mainapp/includes/inc_personal_area_menu.html' %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Мои статьи</h6>
        {% if publications_list %}
            <table id="datatable" class="table dt-responsive nowrap table-vertical"
                   width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Img</th>
                    <th>Название</th>
                    <th>Краткое описание</th>
                    <th>Понравилось</th>
                    <th>Комментарии</th>
                    <th>Дата публикации</th>
                    <th>Статус</th>
                    <th>Просмотр</th>
                    <th>
                        Действие
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for publication in publications_list %}
                    <tr>
                        <td>{{ publication.id }}</td>
                        <td><img alt="not" src="{{ publication.image|media_folder_publications }}" height="50px"></td>
                        <td>{{ publication.name }}</td>
                        <td>{{ publication.short_desc }}</td>
                        <td>{{ publication.get_like_count }}</td>
                        <td>{{ publication.get_comment_count }}</td>
                        <td>{{ publication.created }}</td>
                        <td>{{ publication.get_is_active }}</td>
                        <td><a href="{% url 'main:publication_page' pk=publication.id  %}">Посмотреть</a></td>
                        {% if not publication.is_active %}
                            {% if publication.user.id == request.user.id %}
                                <td><a href="{% url 'main:edit_publication' pk=publication.id  %}">Редактировать</a></td>
                            {% endif %}
                            {% if publication.user.id != request.user.id %}
                                <td>
                                    {% include 'mainapp/includes/inc_refusal_to_publish.html' %}
                                    <button style="border: none; background-color: white;" id="show{{publication.id}}">
                                        Отказать
                                    </button>
                                </td>
                            {% endif %}
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">Пока ничего не опубликовано</p>
        {% endif %}


    </div>

<script type = text/javascript>
{% for publication in publications_list %}
    var dialog{{publication.id}} = document.querySelector('.refusal{{publication.id}}');
    document.querySelector('#show{{publication.id}}').onclick = function() {
      dialog{{publication.id}}.show();
    };
    document.querySelector('#close1{{publication.id}}').onclick = function() {
      dialog{{publication.id}}.close();
    };
    document.querySelector('#close{{publication.id}}').onclick = function() {
      dialog{{publication.id}}.close();
    };
{% endfor %}
</script>
{% endblock %}