{% extends 'mainapp/base.html' %}

{% load static %}
{% load my_tags %}

{% block main_content %}
        <div class="main-wrapper">
            <div class="main-wrapper-center">
                <div class="main-container">
                   <!-- <div class="main-navigation">
                         <ul>
                            <li> <a href="#" class="active">Статьи</a> </li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Хабы</a></li>
                            <li><a href="#">Авторы</a></li>
                            <li><a href="#">Компании</a></li>
                        </ul>
                    </div> -->
                    <div class="fast-blocks-container">
                        <p>СЕЙЧАС ЧИТАЮТ</p>
                        <div class="fast-blocks">
                            {% for publication_dict in now_read_publication_list_of_dict %}
                                {% include 'mainapp/includes/inc_now_read_blocks.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="main-last-blocks-container">
                        <div class="publication">
                            <h5>{{ publication.user }}</h5>
                            <h2>{{ publication.name }}</h2>
                            <h6><a href="{% url 'main:category'  publication.category.pk %}">
                                {{ publication.category}}
                            <a></a></h6>
                            <img src="{{ publication.image|media_folder_publications }}" alt="">
                            <p>{{ publication.text}}</p>
                                    <h4>{{ publication.created}}</h4>
                            <h5 class="likes-comments">
                                <span class="like-wrapper"><i class="like-button {% if publication|is_liked:user.id %} fas fa-heart {% else %} far fa-heart {% endif %}" style="font-size:30px; cursor:pointer;" data-publ="{{publication.id}}" data-user="{{publication.user.id}}"></i></span>
                                <span class="likes" style="margin-right:15px; font-size:20px;">{{ publication.get_like_count }}</span>
                                <span class="comments" onclick="toggle_comments(this)" style="cursor: pointer;"><i class="far fa-comment-alt" style="font-size:30px;"></i> <span class="comments-count" style="font-size:20px;">{{ publication.get_comment_count }}</span></span>
                                <div class="comments-wrapper">
                                    <div class="comments-div">
                                        {% include 'mainapp/includes/inc_comments.html' %}
                                    </div>
                                    <form action="{% url 'main:comment' %}" method="post" enctype="multipart/form-data" class="comment-form hide">
                                        {% csrf_token %}
                                        <img src="{{ user.avatar|media_folder_users }}" alt="" class="user-avatar-img">
                                        <input type="text" name="message" class="comment-input">
                                        <input type="hidden" name='publication_id' value='{{ publication.id }}'>
                                        <button type="submit" value="Submit" class="btn btn-primary"><i class="fas fa-paper-plane" style="font-size:20px;"></i></button>
                                    </form>
                                </div>
                            </h5>
                        </div>
                    <!-- {% include 'mainapp/includes/inc_popular_blocks.html' %} -->
                <!-- <div class="delimiter">
                    <div class="del"></div>
                    <a href="#">Больше</a></div> -->
            </div>
        </div>
        <div class="main-news">
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
</body>

</html>