{% extends 'mainapp/base.html' %}

{% load static %}
{% load my_tags %}

{% block main_content %}
    <div class="main-wrapper">
        <div class="new-publication">
            <h1>Точно публикуем?</h1>
            <div class="new_category_form">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ to_publish_form.as_p }}
                    <input class="form-control" type="submit" value="Да">
                </form>
                <a href="{% url 'main:main' %}" class="btn btn-primary form-control last">
            На Главную
        </a>
            </div>
        </div>
    </div>
{% endblock %}
