{% load static %}
<div class="footer-wrapper">
    <div class="footer"><img src="{% static 'img/intergalactic3.png' %}" alt="">
        <div class="footer-text">
            <p> cоздавай. читай. улучшай. </p>
            <p>Intergalactic Entertainment 2021 &ndash; Все права защищены &ndash; <a style="cursor: default">статьи</a> &ndash; <a
                     style="cursor: default">новости</a> &ndash; <a style="cursor: default">хабы</a> &ndash; <a style="cursor: default">компании</a></p>
        </div>
    </div>
</div>
