{% load static %}
<div class="fast-blocks-container">
    <p>СЕЙЧАС ЧИТАЮТ</p>
    <div class="fast-blocks">
        <div class="fast-block">
            <a href="#"><img src="{% static 'img/983794168.jpg' %}" alt="" class="fast-block-img"></a>
            <div class="fast-block-text"><a href="#" class="fast-header">Заголовок статьи</a>
                <div class="fast-block-text-bottom"><a href="#" class="fast-name">от Ивана</a>
                    <p class="fast-info">50 просмотров 3 комментария</p>
                </div>
            </div>
        </div>
        <div class="fast-block">
            <a href="#"><img
                    src="{% static 'img/https___cdn.cnn.com_cnnnext_dam_assets_191120053137-03-milky-way-images-australia.jpg' %}"
                    alt="" class="fast-block-img"></a>
            <div class="fast-block-text"><a href="#" class="fast-header">Заголовок статьи</a>
                <div class="fast-block-text-bottom"><a href="#" class="fast-name">от Ивана</a>
                    <p class="fast-info">50 просмотров 3 комментария</p>
                </div>
            </div>
        </div>
        <div class="fast-block">
            <a href="#"><img src="{% static 'img/Photo.jpg' %}" alt="" class="fast-block-img"></a>
            <div class="fast-block-text"><a href="#" class="fast-header">Заголовок статьи</a>
                <div class="fast-block-text-bottom"><a href="#" class="fast-name">от Ивана</a>
                    <p class="fast-info">50 просмотров 3 комментария</p>
                </div>
            </div>
        </div>
        <div class="fast-block">
            <a href="#"><img src="{% static 'img/space-1280x720.jpg' %}" alt="" class="fast-block-img"></a>
            <div class="fast-block-text"><a href="#" class="fast-header">Заголовок статьи</a>
                <div class="fast-block-text-bottom"><a href="#" class="fast-name">от Ивана</a>
                    <p class="fast-info">50 просмотров 3 комментария</p>
                </div>
            </div>
        </div>
        <div class="fast-block">
            <a href="#"><img src="{% static 'img/983794168.jpg' %}" alt="" class="fast-block-img"></a>
            <div class="fast-block-text"><a href="#" class="fast-header">Заголовок статьи</a>
                <div class="fast-block-text-bottom"><a href="#" class="fast-name">от Ивана</a>
                    <p class="fast-info">50 просмотров 3 комментария</p>
                </div>
            </div>
        </div>
    </div>
</div>