<nav class="main-nav">
    <ul>
        <li> <a href="#" style="color: black">Все потоки</a> </li>
        <li> <a href="#">Разработка</a> </li>
        <li> <a href="#">Администрирование</a> </li>
        <li> <a href="#">Дизайн</a> </li>
        <li> <a href="#">Менеджмент</a> </li>
        <li> <a href="#">Маркетинг</a> </li>
        <li> <a href="#">Научпоп</a> </li>
    </ul>
    <div class="nav-right">
        <div class="search-box">
            <input type="text" name="" class="search-txt" placeholder="Поиск" />
            <a class="search-btn" href="#"> <i class="fas fa-search"></i> </a>
        </div> <a href="#" class="login">Войти</a> <a href="#" class="registration">Регистрация</a> </div>
</nav>