{% load my_tags %}

{% for comment in comments %}
    <hr>
    <div class="comment-grid">
        <div class="user-avatar">
            <a href="#" >
                <img src="{{ comment.user.avatar|media_folder_users }}" alt="" class="user-avatar-img">
            </a>
        </div>
        <div class="comment-username">
            <a href="#" style="color: #1d5e8c;"><p style="display: inline;">{{ comment.user }}</p></a>
        </div>
        <p class="comment-text">{{ comment.description }}</p>
    </div>
    <p style="font-size: 10px; margin-left:15px; color:grey;">{{ comment.updated }}</p>
    <br>
{% endfor %}
