{% load my_tags %}
<div class="last-block">
    <img src="{{ publ.image|media_folder_publications }}" alt="">
    <div class="last-block-text">
        <h2>{{ publ.name }}</h2>
        <p>{{ publ.short_desc}}</p>
        <h4>{{ publ.created}}</h4>
        <h5>
            <span class="likes">4</span>
            <i class="fas fa-heart"></i>
            <span class="comments">4 </span>
            <i class="fas fa-comments"></i>
        </h5>
        <a href="{% url 'main:publication_page' publ.pk  %}"></a>
    </div>
</div>