<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"> </head>

<body>
    <div class="container">
        <div class="starting-div-wrapper">
            <div class="starting-div">
                <div class="logo">Intergalactic_Entertainment</div>
            </div>
        </div>
        <div class="nav-wrapper">
            <nav class="main-nav">
                <ul>
                    <li> <a href="#" style="color: black">Все потоки</a> </li>
                    <li> <a href="#">Разработка</a> </li>
                    <li> <a href="#">Администрирование</a> </li>
                    <li> <a href="#">Дизайн</a> </li>
                    <li> <a href="#">Менеджмент</a> </li>
                    <li> <a href="#">Маркетинг</a> </li>
                    <li> <a href="#">Научпоп</a> </li>
                </ul>
                <div class="nav-right">
                    <div class="search-box">
                        <input type="text" name="" class="search-txt" placeholder="Поиск" />
                        <a class="search-btn" href="#"> <i class="fas fa-search"></i> </a>
                    </div> <a href="#" class="login">Войти</a> <a href="#" class="registration">Регистрация</a> </div>
            </nav>
        </div>
        <div class="main-wrapper">
            <div class="main-container">
                <div class="main-navigation">
                    <ul>
                        <li> <a href="#">Статьи</a> </li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Хабы</a></li>
                        <li><a href="#">Авторы</a></li>
                        <li><a href="#">Компании</a></li>
                    </ul>
                </div>
                <div class="fast-blocks-container">
                    <p>Быстрые новости</p>
                    <div class="fast-blocks">
                        <div class="fast-block">
                            <a href="#"><img src="img/983794168.jpg" alt="" class="fast-block-img"></a>
                            <div class="fast-block-text"> <a href="#" class="fast-header">Заголовок статьи</a>
                                <div class="fast-block-text-bottom"> <a href="#" class="fast-name">от Ивана</a>
                                    <p class="fast-info">50 просмотров 3 комментария</p>
                                </div>
                            </div>
                        </div>
                        <div class="fast-block">
                            <a href="#"><img src="img/https___cdn.cnn.com_cnnnext_dam_assets_191120053137-03-milky-way-images-australia.jpg" alt="" class="fast-block-img"></a>
                            <div class="fast-block-text"> <a href="#" class="fast-header">Заголовок статьи</a>
                                <div class="fast-block-text-bottom"> <a href="#" class="fast-name">от Ивана</a>
                                    <p class="fast-info">50 просмотров 3 комментария</p>
                                </div>
                            </div>
                        </div>
                        <div class="fast-block">
                            <a href="#"><img src="img/Photo.jpg" alt="" class="fast-block-img"></a>
                            <div class="fast-block-text"> <a href="#" class="fast-header">Заголовок статьи</a>
                                <div class="fast-block-text-bottom"> <a href="#" class="fast-name">от Ивана</a>
                                    <p class="fast-info">50 просмотров 3 комментария</p>
                                </div>
                            </div>
                        </div>
                        <div class="fast-block">
                            <a href="#"><img src="img/space-1280x720.jpg" alt="" class="fast-block-img"></a>
                            <div class="fast-block-text"> <a href="#" class="fast-header">Заголовок статьи</a>
                                <div class="fast-block-text-bottom"> <a href="#" class="fast-name">от Ивана</a>
                                    <p class="fast-info">50 просмотров 3 комментария</p>
                                </div>
                            </div>
                        </div>
                        <div class="fast-block">
                            <a href="#"><img src="img/983794168.jpg" alt="" class="fast-block-img"></a>
                            <div class="fast-block-text"> <a href="#" class="fast-header">Заголовок статьи</a>
                                <div class="fast-block-text-bottom"> <a href="#" class="fast-name">от Ивана</a>
                                    <p class="fast-info">50 просмотров 3 комментария</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-last-blocks-container">
                    <p>Последние статьи</p>
                    <div class="main-last-blocks">
                        <div class="last-block last1"><img src="img/space-1280x720.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis quisquam cupiditate, voluptas modi sequi earum autem ipsam, laudantium et!</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block last2"><img src="img/https___cdn.cnn.com_cnnnext_dam_assets_191120053137-03-milky-way-images-australia.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block last3"><img src="img/Photo.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block last4"><img src="img/983794168.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="delimiter">
                        <div class="del"></div> <a href="#">В разделы</a> </div>
                </div>
                <div class="popular-blocks-container">
                    <p>Популярные за неделю</p>
                    <div class="popular-blocks">
                        <div class="last-block pop1"><img src="img/space-1280x720.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block pop2"><img src="img/https___cdn.cnn.com_cnnnext_dam_assets_191120053137-03-milky-way-images-australia.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block pop3"><img src="img/Photo.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="last-block pop4"><img src="img/983794168.jpg" alt="">
                            <div class="last-block-text">
                                <h2>Заголовок</h2>
                                <p>POPU LARPOPULAR POPUL POPULAR POPULAR POPUL POPU LARPOPULAR POPUL POPULAR POPULAR POPUL</p>
                                <h4>31 августа 2018</h4>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>